<div class="form-group row">
    <label class="col-sm-2 col-form-label">삭제여부</label>
    <div class="col-sm-4">
        <select class="select_search_keyword form-control m-b" keyword="deleted" id="search_notice_deleted" onchange="listener_keyword_changed()">
            <option value="" selected="selected">전체</option>
            <option value="false">일반</option>
            <option value="true">삭제</option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">문서 이름</label>
    <div class="col-sm-4">
        <input id="search_notice_docname" class="form-control" type="text" placeholder="문서 이름 입력" onchange="listener_keyword_changed();" />
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">등록 시기</label>
    <div class="col-sm-3">
        <input class="form-control" id="search_sdate" type="date" onchange="listener_keyword_changed()" />
    </div>
    <div class="col-sm-3">
        <input class="form-control" id="search_fdate" type="date" onchange="listener_keyword_changed()" />
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('null'); return false;">초기화</button>
        <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('today'); return false;">오늘</button>
        <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('week'); return false;">1주</button>
        <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('month'); return false;">1개월</button>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">키워드</label>
    <div class="col-sm-4">
        <select class="form-control m-b" id="search_keyword" onchange="set_search_keyword()">
            <option value="10" selected="selected">제목</option>
            <option value="20">문서 이름</option>
        </select>
    </div>
    <div class="col-sm-6">
        <input id="search_notice_title" class="form-control search_keyword_each search_keyword_each_10" type="text" placeholder="제목 입력" onchange="listener_keyword_changed();" />
        <input id="search_notice_docname" class="form-control search_keyword_each search_keyword_each_20 hide" type="text" placeholder="문서 이름 입력" onchange="listener_keyword_changed();" />
    </div>
</div>
