<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.fallsprbasic.mapper.MakefileMapper">

	<!---->

	<select id="detail" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.MakefileDto$DetailResDto">
		SELECT Makefile.id,
			   Makefile.keyword_id AS keywordId,
			   Makefile.deleted,
			   Makefile.created_at AS createdAt,
			   Makefile.modified_at AS modifiedAt,
			   Makefile.doc_name AS docName,
			   Makefile.doc_content AS docContent,
			   Makefile.doc_url AS docUrl,
			   Makefile.prepare
		FROM Makefile
		WHERE Makefile.id = #{id}
	</select>

	<select id="list" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.MakefileDto$DetailResDto">
		SELECT Makefile.id,
		Makefile.keyword_id AS keywordId,
		Makefile.doc_name AS docName
		FROM Makefile
		WHERE Makefile.id IS NOT NULL
		<if test="deleted != null">AND Makefile.deleted = #{deleted}</if>
		<if test="sdate != null">AND Makefile.created_at &gt;= CONCAT(#{sdate}, ' 00:00:00')</if>
		<if test="fdate != null">AND Makefile.created_at &lt;= CONCAT(#{fdate}, ' 23:59:59')</if>
		<if test="docName != null">AND Makefile.doc_name LIKE CONCAT('%', #{docName}, '%')</if>
	</select>

	<select id="pagedList" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.MakefileDto$DetailResDto">
		SELECT Makefile.id,
		Makefile.keyword_id AS keywordId,
		Makefile.doc_name AS docName,
		Makefile.created_at AS createdAt
		FROM Makefile
		WHERE Makefile.id IS NOT NULL
		<if test="deleted != null">AND Makefile.deleted = #{deleted}</if>
		<if test="sdate != null">AND Makefile.created_at &gt;= CONCAT(#{sdate}, ' 00:00:00')</if>
		<if test="fdate != null">AND Makefile.created_at &lt;= CONCAT(#{fdate}, ' 23:59:59')</if>
		<if test="docName != null">AND Makefile.doc_name LIKE CONCAT('%', #{docName}, '%')</if>
		ORDER BY
		<choose>
			<when test="orderby == 'created_at'">Makefile.created_at</when>
			<when test="orderby == 'docName'">Makefile.doc_name</when>
			<otherwise>Makefile.id</otherwise>
		</choose>
		<if test="orderway == 'desc'">DESC</if>
		<if test="orderway == 'asc'">ASC</if>
		LIMIT #{offset}, #{perpage}
	</select>

	<select id="scrollList" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.MakefileDto$DetailResDto">
		SELECT Makefile.id
		FROM Makefile
		WHERE Makefile.id is not NULL
		<if test = "deleted != null">AND Makefile.deleted = #{deleted}</if>
		<if test = "sdate != null and sdate !=''">AND Makefile.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= Makefile.created_at</if>
		<if test = "ocument != null and ocument !=''">AND Makefile.ocument LIKE CONCAT('%', #{ocument}, '%')</if>
		<if test = "orderway != null and orderway =='desc'">
			<if test = "createdAt != null and createdAt !=''">AND #{createdAt} > Makefile.created_at</if>
			ORDER BY Makefile.created_at DESC
		</if>
		<if test = "orderway != null and orderway =='asc'">
			<if test = "createdAt != null and createdAt !=''">AND Makefile.created_at > #{createdAt}</if>
			ORDER BY Makefile.created_at ASC
		</if>
		LIMIT 0, #{perpage}
	</select>

</mapper>