<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.fallsprbasic.mapper.TbpapertypeMapper">

	<!---->

	<select id="detail" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.TbpapertypeDto$DetailResDto">
		SELECT tbpapertype.id
			 , tbpapertype.deleted
			 , tbpapertype.typename
			 , tbpapertype.created_at as createdAt
			 , tbpapertype.modified_at as modifiedAt
		FROM tbpapertype
		WHERE tbpapertype.id = #{id}
	</select>
	<select id="list" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.TbpapertypeDto$DetailResDto">
		SELECT tbpapertype.id
		FROM tbpapertype
		WHERE tbpapertype.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbpapertype.deleted = #{deleted}</if>
		<if test = "typename != null and typename !=''"> </if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpapertype.created_at</if>
	</select>

	<select id="pagedList" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.TbpapertypeDto$DetailResDto">
		SELECT tbpapertype.id
		FROM tbpapertype
		WHERE tbpapertype.id is not NULL
		<if test = "deleted != null">AND tbpapertype.deleted = #{deleted}</if>
		<if test = "typename != null and typename !=''"> </if>
		<if test = "orderby != null and orderby =='created_at'">ORDER BY tbpapertype.created_at</if>
		<if test = "orderway != null and orderway =='desc'"> DESC</if>
		<if test = "orderway != null and orderway =='asc'"> ASC</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT count(tbpapertype.id) as listsize
		FROM tbpapertype
		WHERE tbpapertype.id is not NULL
		<if test = "deleted != null">AND tbpapertype.deleted = #{deleted}</if>
		<if test = "typename != null and typename !=''"> </if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpapertype.created_at</if>
	</select>

	<select id="scrollList" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.TbpapertypeDto$DetailResDto">
		SELECT tbpapertype.id
		FROM tbpapertype
		WHERE tbpapertype.id is not NULL
		<if test = "deleted != null">AND tbpapertype.deleted = #{deleted}</if>
		<if test = "typename != null and typename !=''"> </if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpapertype.created_at</if>
		<if test = "orderway != null and orderway =='desc'">
			<if test = "createdAt != null and createdAt !=''">AND #{createdAt} > tbpapertype.created_at</if>
			ORDER BY tbpapertype.created_at DESC
		</if>
		<if test = "orderway != null and orderway =='asc'">
			<if test = "createdAt != null and createdAt !=''">AND tbpapertype.created_at > #{createdAt}</if>
			ORDER BY tbpapertype.created_at ASC
		</if>
		LIMIT 0, #{perpage}
	</select>

</mapper>